h1{
    color:#9386ab
}

h2 {
    color:rgb(175, 145, 175);
}
h3 {
    color:rgb(175, 145, 175);
}
body {
    background-color:rgb(232, 230, 241);
}
nav {
    background-color: #baacd4;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    color: rgb(102, 95, 120);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
        /* Hover effect */
nav a:hover {
    background-color: #e6d8e2;
}
       
nav a.active {
    background-color: #d9ccef;  
    font-weight: bold;          
}
 .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
   width: 100%;

}
.img {
  border: 2px solid #baacd4;
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
}

.map-container{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
   width: 100%;
}

h4{
    text-align: center;
    color:rgb(175, 145, 175) ;
}

